<form [formGroup]="confirmForm" (ngSubmit)="confirmForm.valid && onConfirm()">
    <p>
        <label for="id-confirm">Код из смс</label>
        <input id="id-confirm" type="text" formControlName="confirmationCode">
        <ng-container *ngIf="isSubmitted && !codeControl.valid">
            <span *ngIf="codeControl.errors['required']">Обязательное поле.</span>
        </ng-container>
    </p>
    <button type="submit" (click)="onSubmit()">Отправить</button>
</form>