<form [formGroup]="regForm" (ngSubmit)="regForm.valid && onRegister()">
    <p>
        <label for="id-email">Email</label>
        <input id="id-email" type="email" formControlName="email">
        <ng-container *ngIf="isSubmitted && !emailControl.valid">
            <span *ngIf="emailControl.errors['required']">Обязательное поле.</span>
        </ng-container>
    </p>
    <p>
        <label for="id-phone-number">Номер телефона</label>
        <input id="id-phone-number" type="tel" formControlName="phone_number">
        <ng-container *ngIf="isSubmitted && !phoneNumberControl.valid">
            <span *ngIf="phoneNumberControl.errors['required']">Обязательное поле.</span>
        </ng-container>
    </p>
    <p>
        <label for="id-password">Пароль</label>
        <input id="id-password" type="password" formControlName="password">
        <ng-container *ngIf="isSubmitted && !passwordControl.valid">
            <span *ngIf="passwordControl.errors['required']">Обязательное поле.</span>
            <span *ngIf="passwordControl.errors['minlength']">Минимальная длина пароля 6 символов.</span>
        </ng-container>
    </p>
    <button type="submit" (click)="onSubmit()">Отправить</button>
</form>